In [1]:
from pyspark.sql import SparkSession


spark = SparkSession.builder.master("local[*]").appName("Filter").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/24 15:46:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/01/24 15:46:24 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

flight_schema = StructType([StructField("airline", StringType(), True), StructField("flight", StringType(), True), \
                            StructField("source_city", StringType(), True), StructField("departure_time", StringType(), True), \
                            StructField("stops", StringType(), True), StructField("arrival_time", StringType(), True), \
                            StructField("destination_city", StringType(), True), StructField("class", StringType(), True), \
                            StructField("duration", IntegerType(), True), StructField("days_left", IntegerType(), True), StructField("price", IntegerType(), True)])

df = spark.read.format("csv").option("header", "True").schema(flight_schema).load("/home/manish/Documents/VSCodeProjects/Spark-Functions/SampleData/flight_data.csv")

In [7]:
df.filter(df.airline == "SpiceJet").show(5)

+--------+-------+-----------+--------------+-----+------------+----------------+-------+--------+---------+-----+
| airline| flight|source_city|departure_time|stops|arrival_time|destination_city|  class|duration|days_left|price|
+--------+-------+-----------+--------------+-----+------------+----------------+-------+--------+---------+-----+
|SpiceJet|SG-8709|      Delhi|       Evening| zero|       Night|          Mumbai|Economy|    null|        1| 5953|
|SpiceJet|SG-8157|      Delhi| Early_Morning| zero|     Morning|          Mumbai|Economy|    null|        1| 5953|
+--------+-------+-----------+--------------+-----+------------+----------------+-------+--------+---------+-----+

In [10]:
df.filter(df.price > 5954).show()

+---------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
|  airline| flight|source_city|departure_time|stops| arrival_time|destination_city|  class|duration|days_left|price|
+---------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
|  AirAsia| I5-764|      Delhi| Early_Morning| zero|Early_Morning|          Mumbai|Economy|    null|        1| 5956|
|  Vistara| UK-995|      Delhi|       Morning| zero|    Afternoon|          Mumbai|Economy|    null|        1| 5955|
|  Vistara| UK-963|      Delhi|       Morning| zero|      Morning|          Mumbai|Economy|    null|        1| 5955|
|  Vistara| UK-945|      Delhi|       Morning| zero|    Afternoon|          Mumbai|Economy|    null|        1| 5955|
|  Vistara| UK-927|      Delhi|       Morning| zero|      Morning|          Mumbai|Economy|    null|        1| 6060|
|  Vistara| UK-951|      Delhi|     Afternoon| zero|      Evening|          Mumbai|Economy|    null|        1| 6060|
|   Indigo|6E-5001|      Delhi| Early_Morning| zero|      Morning|          Mumbai|Economy|    null|        1| 5955|
|   Indigo|6E-6202|      Delhi|       Morning| zero|    Afternoon|          Mumbai|Economy|    null|        1| 5955|
|   Indigo| 6E-549|      Delhi|     Afternoon| zero|      Evening|          Mumbai|Economy|    null|        1| 5955|
|   Indigo|6E-6278|      Delhi|       Morning| zero|      Morning|          Mumbai|Economy|    null|        1| 5955|
|Air_India| AI-887|      Delhi| Early_Morning| zero|      Morning|          Mumbai|Economy|    null|        1| 5955|
|Air_India| AI-665|      Delhi| Early_Morning| zero|      Morning|          Mumbai|Economy|    null|        1| 5955|
+---------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+

In [14]:
df.createOrReplaceTempView("flight_data")